* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #c4c8cc;
  border-radius: 25px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-shadow: rgba(173, 168, 168, 0.437) 0px 2px 8px 0px;
  color: #888684;
  font-weight: 500;
}

.logo {
  width: 50px;
}

.nav-items {
  display: flex;
  gap: 13px;
  list-style-type: none;
  align-items: center;
}

.nav-items > li:hover {
  color: #e55427;
  cursor: pointer;
}

.hero {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.hero_text,
.hero_image {
  flex: 1;
}
.hero_text {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.hero_text > h1 {
  font-weight: 700;
  font-size: 80;
  line-height: 5rem;
  position: relative;
}

.hero_text > p {
  color: #888684;
}

.hero_image > img {
  max-height: 70vh;
  border-radius: 20px;
}

.body {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.search {
  border: 1px solid #c4c8cc;
  box-shadow: rgba(173, 168, 168, 0.437) 0px 2px 8px 0px;
  border-radius: 25px;
  max-width: 800px;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}
.search > input {
  outline: none;
  border: none;
  padding: 5px;
  width: 100%;
}

.search > img:hover {
  cursor: pointer;
}

.filter-btn {
  margin: 1rem 1rem 1.5rem 1rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  border: 1px solid #e55427;
  border-radius: 10px;
  background-color: #e55427;
  cursor: pointer;
  color: #ffffff;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}
.res-card {
  flex: 1;
  max-width: 300px;
  min-width: 200px;
  margin: 10px;
  padding: 10px;
  border-radius: 1rem;
  border: 1px solid #ffffff;
  transition: all ease-in 0.1s;
}

.res-card:hover {
  border: 1px solid #c4c8cc;
  box-shadow: rgba(173, 168, 168, 0.437) 0px 2px 8px 0px;
  cursor: pointer;
  transform: translateY(-10px);
}
.card-image {
  width: 100%;
  border-radius: 1rem;
  height: 200px;
  object-fit: cover;
}

.res-card div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.res-card p:first-child {
  font-weight: 600;
  color: black;
}
.res-card p {
  font-weight: 300;
  font-size: medium;
  color: gray;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.shimmer-card {
  flex: 1;
  min-width: 200px;
  height: 300px;
  margin: 10px;
  padding: 10px;
  border-radius: 1rem;
  box-shadow: rgba(173, 168, 168, 0.437) 0px 2px 8px 0px;
}

.shimmer-photo {
  width: 100%;
  border-radius: 1rem;
  height: 100px;
  background: #ddd;
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
}

.shimmer-text1 {
  height: 24px;
  width: 100%;
  margin-bottom: 12px;
  margin-top: 12px;
  border-radius: 20px;
  background: #ddd;
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
}
